*
{
        box-sizing: border-box;
}

body
{
        margin: 30px 50px;
        background-image: url("images/Sharks-Gambit-Background.png");
        background-size: cover;
}



h1
{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 40px;
        text-decoration-line:underline;
        
}

.input-hidden 
{
        position: absolute;
        left: -9999px;
}

input[type=radio]:checked + label>img 
{
        border: 1px solid #fff;
        box-shadow: 0 0 3px 3px #090;
}

.buffer
{
        height: 100px;
        width: 200px;
}

.equipment
{
        /*margin-top: 100px;*/
        height: 200px;
        width: 200px;
}

.shark
{
        border: 5px solid transparent;
        /*margin-bottom: 10px;*/
        height: 180px;
        width: 280px;
}

.submit
{
        display: flex;
        gap: 50px;
        justify-content: center;
        height: 100px;
        margin: auto;
}
.active
{
        border: 10px double orange;
}


#characterSelection{
        display: flex;
        flex-direction: column;
}
#characterSelection > div {
        padding: 1em 0;
}


#bufferHolder
{
        display: flex;
        gap: 50px;
        justify-content: center;
        /* height: 50px; */
        flex-wrap: wrap;
}

#equipmentHolder
{
        /* padding-top: 100px; */
        display: flex;
        gap: 50px;
        justify-content: center;
        /* height: 50px; */
        flex-wrap: wrap;
}

#sharkHolder
{
        /* padding-top: 230px; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
}
#characterSelection input[type="submit"]{
        background-image: url("./images/SubmitButton.png");
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
        background-color: transparent;
        width: 263px;
        height: 117px;
}

img {
        
}

.hidden {
        display: none;
}















/* .sharkselection1
{
        float: left;
        color: black;
        text-align: center;
        padding: 100px 200px;
}

.sharkselection2
{
        color: black;
        text-align: center;
        padding: 100px 200px;
}

.sharkselection3
{
        float: right;
        color: black;
        text-align: center;
        padding: 100px 200px;
} 

legend
{
        text-align: center;
        text-decoration: solid;
        font-family: monospace;
        font-size: xx-large;
}

*/